<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href=~/Images/icon.png />
    <title>@ViewBag.Title</title>
    @System.Web.Optimization.Styles.Render("~/Content/css")
</head>
<body>
    @RenderPage("~/Views/Shared/_navigation.cshtml")

    <div class="text-center">
        <h2>@ViewBag.Header</h2>
        <p style="margin-bottom: 2em; ">@ViewBag.Paragraph</p>
        <hr style="width: 20%;">
    </div>

    <!-- Основное содержимое мастер-страницы -->
    @RenderBody()

    @System.Web.Optimization.Scripts.Render("~/bundles/jquery")
    @System.Web.Optimization.Scripts.Render("~/bundles/bootstrap")

</body>
</html>